<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>User info</h2>
  </div>

  <div class="row">
     <%= attachment_image_tag user, :profile_image_id, format: 'jpeg', fallback: "no_image.jpg", size: "63x63" %>
  </div>

  <div class="row">
     <table>
       <tr>
         <th>name</th>
          <td><%= user.name %></td>
       </tr>
       <tr>
         <th>introduction</th>
         <td><%= user.introduction%></td>
        </tr>
     </table>
  </div>



  <div class="row">
    <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary", method: :get do  %>
     <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>



 <div class="row">
  <h2>New book</h2>
 </div>

  <div class="row">
    <%= form_with model:book,local:true do |f| %>
      <div class="form-group">
        <h4>Title</h4>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <h4>Opinion</h4>
        <%= f.text_area :body %>
      </div>
      <div class="form-group">
          <%= f.submit 'Creat Book' %>
      </div>
    <% end %>
  </div>

</div>
