<div class="container px-5 px-sm-0">
 <div class="row">
   <%= render 'users/list', user:@user %>
   <%= render 'books/book', book:@book %>
   <div class="col-md-8 offset-md-1">

  <h4>Books</h4>
   <table>
    <thead>
     <tr>
      <th>Title</th>
      <th>Opinion</th>
     </tr>
    </thead>

    <tbody>
        <% @books.each do |book| %>
    　<tr>
       <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
    　 <td>
        <%= link_to book_path(book.id) do %>
        <%= book.title %>
        <% end %>
       </td>

        <td><%= book.body %></td>
        <% end %>
      </tr>
     </tbody>
    </table>
    <%= paginate @books %>


  </div>
 </div>
</div>
