<div class="container">
  <%= render 'users/list', user:@user,book:@book %>
  <div class"row">
    <tbody>
     <tr>
      <td> <%= attachment_image_tag @user, :profile_image_id, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
      <% @books.each do |book|%>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <% end %>
      <td>
        <% if @book.user == current_user %>
        <%= link_to "Edit",edit_book_path(@book.id)%>
        <% end %>
      </td>
      <td>|</td>

      <td>
      <% if @book.user == current_user %>
      <%= link_to "Destroy", book_path(@book.id), method: :delete,"data-confirm" => "本当に消しますか" %>
      <% end %>
      </td>
     </tr>



   </tbody>
  </table>
</div>



  </div>





</div>